<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mobilewrx.example"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>MobileWRX</name>

    <description>
        An online Marketing Tool
    </description>

    <author href="https://mobilewrx.herokuapp.com" email="robertmartinbc@gshaw.ca">
        Robert Martin
    </author>

</widget>
