<div class="row">
  <center>
  <h1><%= image_tag("mobilewrxlogo.jpg") %></h1></center>
  <br>
</div>

<h3 align="center"><i>"Our goal is to put advertisers and the wireless community of buyers together."</i></h3>

		<br>
<div class="row">
	<div class="span12">
	<div class="span6 well justify">
		<h4 align="center">Who Are We?</h4>
		<br>
		<p>MobileWRX is a Victoria-based corporation with a unique approach to advertising services.</p>

		<p>John Kovacs is the founder and CEO of MobileWRX, and it is his vision for MobileWRX to serve local, regional and national businesses by producing and distributing content to mobile phone users.</p>

		<p>The founder has over twenty years experience in multimedia development, including film-making, photography, graphic design, animation, web design, music, theatre arts and journalism. The founder is also an experienced sales professional. His formal education includes a BA Honours in Film Studies and Certificate of Advanced Journalism</p>

		<p>The founder holds a belief that currently available broadband and a lack of mobile content providers are solid ground for establishing a successful production company in Victoria focused specifically on the mobile wireless community.</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>
	</div>
<div class="span4 well justify">
	<h4 align="center">What Do We Do?</h4>
	<br>
	<p>MobileWRX is an advertising production company specializing in the delivery of mobile phone content to cell phone users. MobileWRX products include:
		<ul>
			<li>Event Ticketing</li>
			<li>Mobile Coupons</li>
			<li>Reward Cards</li>
			<li>Phot ID Passes</li>
			<li>Event Competitions</li>
		</ul>
</div>
<div class="span4 well justify">
	<h4 align="center">Our Market</h4>
	<br>
	<p>Around the world today, mobile phone revenues are growing exponentially, and advertising on cell phones is an emergent industry with an extremely good potential for growth and revenue generation. The founder knows the mobile content market is an exceptional market to be trageting today for any business.
</div>
</div></div>

