<div id="welcome" class="page-header col-sm-12">
  <h3 align="center">Join Now To Earn Great Savings!</h3>
  <br>
</div>
<center>
<div class="row col-sm-12 plans">
  <div class="col-sm-3 col-sm-offset-1 well">
    <div class="plan"><h2>Standard</h2></div>
    <p>Email Notification</p>
    <h3>FREE!</h3>
    <br>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'standard'), :class => 'btn-blue btn-lg' %>
  </div>
  <div class="col-sm-3 well featured">
    <div class="plan featured-plan"><h2>Premium</h2></div>
      <p>Lifetime Membership</p>
    <h3>$5</h3>
    <br>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'premium'), :class => 'btn-blue btn-lg' %>
  </div>
  <div class="col-sm-3 well">
    <div class="plan"><h2>V.I.P</h2></div>
      <p>Priority Access</p>
    <h3>$10</h3>
    <br>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'vip'), :class => 'btn-blue btn-lg' %>
  </div>
</div>

