<div class="container">
	<div class="row">
		<div class="span12">
			<div class="span4">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h5 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          How do I buy the daily deal?
			        </a>
			      </h5>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse">
			      <div class="panel-body">
			        <h5 class="justify">Login to your account, then click "Buy Now" and complete the payment form. Your couvon will be waiting in your account within 15 minutes. If you do not have an account yet, register here.</h5>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h5 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          Do I have to be logged into my account to buy a promotion?
			        </a>
			      </h5>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        <h5 class="justify">Yes. Please Login, then click on "Buy Now".</h5>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h5 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          I forgot my username and/or password
			        </a>
			      </h5>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
			        <h5 class="justify">Please click here.</h5>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="panel panel-default">
			    <div class="panel-heading">
			      <h5 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          I'm having trouble buying!
			        </a>
			      </h5>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        <h5 class="justify">Make sure you are logged into your MobileWRX account. Make sure you have entered all of your information correctly without any typos. Make sure you are using a valid credit card. If that still does not work, often trying a different credit card will work.</h5>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h5 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
			          Where is my promotion?
			        </a>
			      </h5>
			    </div>
			    <div id="collapseFive" class="panel-collapse collapse">
			      <div class="panel-body">
			        <h5 class="justify">Its in your account. Login to your account, then click on "My Account".</h5>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h5 class="panel-title">
			        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
			          How do I change the name on a promotion?
			        </a>
			      </h5>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse">
			      <div class="panel-body">
			        <h5 class="justify">Please contact our Customer Service Team with the new name you would like on the promotion.  Please note that the name on the promotion is only cosmetic and is not needed when being redeemed.</h5>
			      </div>
			    </div>
			    <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
				          How do I redeem my promotion?
				        </a>
				      </h5>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">Please read the instructions on your promotion, located in the "How to Use This" section as this varies from deal to deal.</h5>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
				          When can I redeem my promotion?
				        </a>
				      </h5>
				    </div>
				    <div id="collapseEight" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">Starting the day after you purchased your promotion up until the expiry date listed on the promotion.</h5>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
				          What is MobileWRX's return/refund policy?
				        </a>
				      </h5>
				    </div>
				    <div id="collapseNine" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">Please review MobileWRX's 30 Day Return Policy here.</h5>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
				          My promotion expired! What do I do?
				        </a>
				      </h5>
				    </div>
				    <div id="collapseTen" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">After your couvon has expired, it is at the merchant's discretion if they wish to honour it, so make sure you use your promotions before they expire!</h5>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
				          How do I unsubscribe from the email alerts?
				        </a>
				      </h5>
				    </div>
				    <div id="collapseEleven" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">Click "unsubscribe" in any of the emails we send you, or click "Login > My Account > My Profile" and then click on "unsubscribe".</h5>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
				          I referred a friend but did not receive any credits.
				        </a>
				      </h5>
				    </div>
				    <div id="collapseTwelve" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">You and your friend must both follow these instructions to receive referral credits.</h5>
				      </div>
				    </div>
				    <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
				          My email address has changed
				        </a>
				      </h5>
				    </div>
				    <div id="collapseThirteen" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">Please contact our Customer Service Team with your new email address.</h5>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h5 class="panel-title">
				        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
				          The Merchant has closed their doors before the Expiry Date.
				        </a>
				      </h5>
				    </div>
				    <div id="collapseFourteen" class="panel-collapse collapse">
				      <div class="panel-body">
				        <h5 class="justify">Sometimes Merchants go out of business, or they change their product/service mix before the Expiry Date.  When this happens, and you have an unused, valid promotion, please contact our Customer Service Team and they will promptly remove the couvon from your account and provide you with MobileWRX credits equal to the value you originally paid.</h5>
				      </div>
				    </div>
				  </div>
				  </div>
				</div>
		  </div>
		</div>
	</div>
</div>
</div>
</div>

