<div class="container">
	<div class="row">
		<div class="col-md-12" align="center"><h3>How it WRX</h3></div>
		<br>
		<br>
	</div>
	<div class="row">
		<div class="col-md-3 panel">
			<h4 align="center">Open your FREE account</h4>
			<%= image_tag("subscribe.jpeg") %>
		</div>
		<div class="col-md-3 panel">
			<h4 align="center">Choose your preferences</h4>
			<%= image_tag("preferences.jpeg") %>
		</div>
		<div class="col-md-3 panel">
			<h4 align="center">Browse promotions</h4>
			<%= image_tag("promotions.jpeg") %>
		</div>
		<div class="col-md-3 panel">
			<h4 align="center">Purchase your promotion</h4>
			<%= image_tag("purchase.jpeg") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" align="center"><h3>It doesn't get any easier than that!</h3></div>
	</div>
</div>
