<div class="page-header">
  <center>
    <br>
  <h1><%= image_tag("mobilewrxlogo.jpg") %></h1>
  <h4>MobileWRX is Victoria's premium online marketing tool!</h4>
</center>
</div>
<div class="span1">
  </div>
<div class="row">
	<div class="span4 well">
  	<h4>For Clients</h4>
    <%= link_to "Subscribe", client_subscription_path, class: 'btn btn-primary btn-mini' %>
  	</div>
	<div class="row">
		<div class="span4 well">
  			<h4>For Customers</h4>
        <%= link_to "Subscribe", customer_subscription_path, class: 'btn btn-primary btn-mini' %>
		</div>
	</div>
<br>
